@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1 id="Result">
</h1>

<input type="button" value="Arttır" onclick="Arttir()" />

<script>
	var sayac = 0;
	function Arttir() {
		sayac++;
		document.getElementById("Result").innerHTML = sayac;
	}
</script>

<hr />
<hr />
<br />
<!--sayfanın modelini int olarak tanımlıyoruz...-->
@model int
<h1>
	@Model <!--gelen modeli yazdırıyoruz..-->
</h1>

<!--sayfayı servera gönderiyoruz....-->

<form asp-action="Arttir" method="post">
	<input type="submit" value="Serverdan Arttır" />
</form>
